
.botones_home {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.contadorWors_boton, .vocalRepetida_boton {
    padding: 1.6rem 4rem;
    font-weight: 300;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: var(--color-white);
    border-radius: 10px;
}